@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: variables.$Font-size-body;
  font-family: variables.$Font-family-body;
  background: -prefix-linear-gradient(
    180deg,
    variables.$Soft-violet,
    variables.$Soft-blue
  );
  background: linear-gradient(
    180deg,
    variables.$Soft-violet,
    variables.$Soft-blue
  );
  height: 100vh;
  @media (min-width: 1300px) {
    height: 120vh;
  }
}
