@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
// COLORS
$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);
$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);
$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);
$Light-grayish-blue: hsl(240, 5%, 91%);
// FONTS
$Font-size-body: 12px;
$Font-family-body: "Kumbh Sans", sans-serif;
